.grid {
    margin: 0;
    display: flex;
    justify-content: center;
 }

 .col-1-4 {
    width: 25%;
    padding-top:10px;
    margin: 0px 20px;
    border:1px solid #607D8B;
    background: #607D8B;
    color: #eee;
    text-align: center;
    font-size: 19px;
 }
 .col-1-4:hover {
    background: rgb(119, 124, 123);
}

a {
    text-decoration: none;
}

.timebtn {
    margin:10px;
    height: 33px;
    border:1px solid rgb(53, 62, 73);
    background: rgb(53, 62, 73);
    color: white;
}
.timebtn:hover {
    background: rgb(102, 128, 160);
}